<button class="btn btn-outline-primary" routerLink="/create-order">
  Place Order
</button>
<div *ngIf="Orders.length !== 0">
  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Order Id</th>
          <th scope="col">Stock Ticker</th>
          <th scope="col">Price</th>
          <th scope="col">Volume</th>
          <th scope="col">Buy or Sell</th>
          <th scope="col">Status code</th>
          <th scope="col">Order time</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of Orders">
          <td>{{ order.id }}</td>
          <td>{{ order.stockTicker }}</td>
          <td>{{ order.price }}</td>
          <td>{{ order.volume }}</td>
          <td>{{ order.buyOrSell }}</td>
          <td>{{ order.statusCode }}</td>
          <td>{{ order.orderTime | date: "yyyy-MM-dd h:mm a z" }}</td>
          <td>
            <a
              [routerLink]="['/order-edit/', order.id]"
              class="btn btn-primary btn-sm float-right"
              >Edit</a
            >&nbsp;
            <a
              [routerLink]=""
              (click)="deleteOrder(order.id)"
              class="btn btn-danger btn-sm float-right"
              >Delete</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
