<button class="btn btn-outline-primary" routerLink="/order-list">
  List Orders
</button>
<div class="col-md-12">
  <h3 class="mb-3 text-center">Add Order</h3>
  <div class="form-group row">
    <label class="control-label col-md-12">Stock Ticker</label>
    <input
      type="text"
      [(ngModel)]="orderDetails.stockTicker"
      class="form-control"
    />
  </div>

  <div class="form-group row">
    <label class="control-label col-md-12">Price</label>
    <input type="text" [(ngModel)]="orderDetails.price" class="form-control" />
  </div>

  <div class="form-group row">
    <label class="control-label col-md-12">Volume</label>
    <input type="text" [(ngModel)]="orderDetails.volume" class="form-control" />
  </div>

  <div class="form-group row">
    <label class="control-label col-md-12">Buy or Sell</label>
    <input
      type="text"
      [(ngModel)]="orderDetails.buyOrSell"
      class="form-control"
    />
  </div>

  <div class="form-group row">
    <label class="control-label col-md-12">Status code</label>
    <input
      type="text"
      [(ngModel)]="orderDetails.statusCode"
      class="form-control"
    />
  </div>

  <div class="form-group row">
    <label class="control-label col-md-12">Order Time</label>
    <input
      type="text"
      [(ngModel)]="orderDetails.orderTime"
      class="form-control"
    />
  </div>

  <div class="form-group">
    <button class="btn btn-success btn-lg btn-block" (click)="addOrder()">
      Add Order
    </button>
  </div>
</div>
